<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Capture Photography Canada</title>
  <link rel="icon" type="image/png" href="/assets/lib/imgLogo.png">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body>
  <header>
    <div class="headingLogo">
      <a href="/"><img class="headingImage" src="/assets/lib/imgLogo.svg"></a>
    </div>

    <div class="headerMenu">
      <div class="headingMenuIcon">
        <i class="fas fa-bars"></i>
      </div>
  </header>

    <nav class="navMenu hide">
      <div class="headingLogoFull">
        <h1>
          <a href="/"><img class="headingImageFull" src="/assets/lib/fullLogo.svg" width="100px"></a>
        </h1>
      </div>

      <ul class="navLinks">
        <li class="activeItem"><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="socialMediaLinks">
        <ul>
          <!-- <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li> -->
          <li><a href="tel:4038897888" target="_blank"><i class="fas fa-phone"></i></a></li>
          <li><a href="mailto:Capturephotographycanada@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
        </ul>
      </div>

      <div class="navFooter">
        <p>Capture Photography Canada 2019</p>
      </div>
    </nav>
