<% include partials/header %>

<div class="landing">

  <h2>Capture Photography Canada</h2>
    <hr>
  <h2><img src="/assets/lib/landingImage.png" width="250px"></h2>
  <p>Hey, I'm Pearl.</p>
  <p>Welcome to my portfolio, I specialize in wedding, and family photography.</p>
</div>

<div class="photoCatagories">
  <ul>
    <a href="/portfolio" ><li id="all">All</li></a>
    <a href="/portfolio/wedding" ><li id="wedding">Wedding</li></a>
    <a href="/portfolio/family" ><li id="family">Family</li></a>
    <a href="/portfolio/newborn" ><li id="newborn">Newborn</li></a>
    <a href="/portfolio/scenery" ><li id="scenery">Scenery</li></a>
  </ul>
</div>

<%include partials/footer %>
