<% include partials/header %>

<% var imageArray = [] %>
<% images.forEach(function(images){ %>
  <% imageArray.push(images.path)%>
  <% }); %>

  <h2>My Work</h2>
  <hr>
  <div class="row">
    <div class="column">
      <% for(var i = imageArray.length - 1; i >= 0; i -= 3){ %>
        <img src="<%=imageArray[i]%>" class="scrollReveal">
        <% } %>
      </div>
      <div class="column">
        <% for(var i = imageArray.length - 2; i >= 0; i -= 3){ %>
          <img src="<%=imageArray[i]%>" class="scrollReveal">
          <% } %>
        </div>
        <div class="column">
          <% for(var i = imageArray.length - 3; i >= 0; i -= 3){ %>
            <img src="<%=imageArray[i]%>" class="scrollReveal">
            <% } %>
          </div>
        </div>
        <% include partials/footer %>
